@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Oxygen:wght@300&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
}


h1 {
  color:gray;
}

td {

  border: 5px solid lightblue;
  height: 40px;
  width: 40px;
  font-size: 1px;
  color:white;

  overflow: hidden;

}


@keyframes fill {
  from {
    background-color: lightgray;

  }
  to {
    background-color: cyan;


  }
}

.clickedStep {
  color:lightgray;
  background-color: cyan;
  transition: .5s;
  animation: fill 1s ease-in-out;

}

td:hover {
  border: 5px solid lightgray;
  transition: .2s;
  color: lightgray;
  font-size: 11px;


}

th {
  color:lightblue;
}

.sessionHeaders {
  /* border: 1px solid cyan; */
}

th.rotate {
  color: lightgray;
  /* height: 30px; */
  white-space: nowrap;
  /* transform:rotate(-40deg); */
  font-size: 8px;
  text-align: center;
  padding: 10px 0px;

}



.hide {
  border: none;
}

.reps {
  width: 100px;
}

.yellow {
  background-color: yellow;
}
